<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrado de la Película</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>Estas seguro de querer borrar esta película: <%= Movie.title %>???</h1>
    <p>
        <form action="/admin/delete/<%= Movie.id %>?_method=DELETE" method="POST">
            <br>
            <p> <button class="botonBorrar" type="submit">Borrar la Película</button>
            
            <a  class="botonVolver" href="/">Listado de Películas</a></p>
            <a href="/admin/edit/<%= Movie.id %>">Editar</a>
        </form>
    </p>
    
</body>

</html>