<header>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
    <a href="/user/logout">Log Out</a>
    <% if(locals.users) { %>
        <p>Hola <%= users.name %>!</p>
        <a href="/user/logout">Cerrar Sesion</a>
        <% }  %>
</header>